
.container {
    border: 1px dotted black;
    padding: 20px;
    margin: 80px auto;
    background-color: beige;
    max-width: 700px;
}

.container div {
    display: flex;
    justify-content: center;
    margin: 10px 10px;
}

.container img {
    width: 20%;
}

.btn {
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 1.2rem;
    cursor: pointer;
}
.btn:hover {
    background-color: rgb(65, 10, 117);
}